$primary: #1b264f;
$secondary: #274690;
$dark: #302b27;
$light: #f5f3f5;

$font-family-base: "Poppins", sans-serif;
$btn-font-family: "Poppins", sans-serif;
$headings-font-family: "Rubik", sans-serif;
$btn-border-radius: 0px;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$input-border-radius: 0px;
$input-border-radius-lg: $input-border-radius;
$input-border-radius-sm: $input-border-radius;
$card-border-radius: 0px;
$card-inner-border-radius: 0px;
